/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

body, html {
	height : 100%;
}

body {
  	height : 100vh;
  	width : 100vw;
  	overflow : hidden;
  	position : relative;
  	z-index : 0;
}

h1 {
	font-size : 27px;
	font-family : "indie flower", cursive;
	color : #F5BE41;
	line-height : 33px;
}

h3 {
	display : inline-block;
	font-family : "indie flower", cursive;
	color : #F5BE41;
	border : none;
	font-size : 40px;
}

/*ALL BACKGROUND ANIMATION CSS*/

.bg-wrapper {
  	display : inline-block;
  	position : relative;
	height : 100%;
	width : 100%;
	background-color : #31A9B8;
	padding : 0;
	margin : 0;
	z-index : -100;
}

.to-be-covered {
	position : absolute;
	height : 100vh;
	width : 100vw;
	background-color : #31A9B8;
	z-index : -4;
}

.box {
	height : 75vw;
	width : 75vw;
	background-color : #31A9B8;
	position : absolute;
	left : -25vw;
	bottom : 50%;
	z-index : -3;
  	border : none;
  	transform-origin : 100% 100%;
}

.cover-box {
  	position : absolute;
  	height  : 75vw;
  	width  : 75vw;
  	background-color : #31A9B8;
  	left : -25vw;
  	bottom : 50%;
    border : none;
  	overflow : hidden;
  	z-index : -2;
}

.deg90 {
	animation : rotate90deg 10s linear 0s 1 forwards;
}

.deg180 {
	animation : rotate180deg 10s linear 0s 1 forwards;
}

.deg270 {
	animation : rotate270deg 10s linear 0s 1 forwards;
}

.deg360 {
	z-index: -4;
	animation : rotate360deg 10s linear 0s 1 forwards;
}

.paused {
	animation-play-state : paused;
}

.colour-change {
	animation : colour-change 10s linear 0s 1 forwards;
}

@keyframes colour-change {

	0% {

	}

	99.99% {
		background-color : #31A9B8;

	}

	100% {
		background-color : #c73721;
	}

}

@keyframes rotate90deg {

	0% {
		transform : rotate(0deg);
	}

	25% {
		transform : rotate(90deg);
	}

	100% {
		transform : rotate(90deg);
		background-color : #c73721;
  }

}

@keyframes rotate180deg {

	0% {
		transform : rotate(0deg);
	}

	25%{
		transform : rotate(90deg);
	}

	50%{
	   transform : rotate(180deg);
	}

	100% {
		transform : rotate(180deg);
		background-color : #c73721;
	}

}

@keyframes rotate270deg {

	0% {
		transform : rotate(0deg);
	}

	25%{
		transform : rotate(90deg);
	}

	50%{
		transform : rotate(180deg);
	}

	75%{
		transform : rotate(270deg);
	}

	100% {
		transform : rotate(270deg);
    	background-color : #c73721;
  	}

}

@keyframes rotate360deg {

	0% {
    	transform : rotate(0deg);
    	z-index : -4;
    }
  
  	25% {
    	transform : rotate(90deg);
  	}
  
  	50% {
    	transform : rotate(180deg);
  	}
  
  	75% {
   	 transform : rotate(270deg);
   	 z-index : -1;
  	}
  
  	100% {
    	transform : rotate(360deg);
    	z-index : -1;
    	background-color : #c73721;
  	}

}

@media (orientation : portrait) {

	.cover-box {
    	height : 75vh;
   		width : 75vh;
   		top : -25vh;
    	left : initial;
    	right : 50%;
  	}
  
  	.box {
    	height : 75vh;
    	width : 75vh;
    	top : -25vh;
    	left : initial;
    	right : 50%;
  	}

}

/*END OF BACKGROUND ANIMATION CSS*/

.wrapper-outer {
	position : relative;
	height : 100%;
	width : 100%;
	display : flex;
	flex-flow: column nowrap;
	align-items : center;
	justify-content: center;
	z-index : -99;
}

.title-div {
	position : absolute;
	top : 0;
	left : 0;
	height : 33px;
	background-color : #fff;
	width : 100%;
	text-align : center;
}

.wrapper-inner {
	height : calc(100% - 30px - 33px);
	max-height : 680px;
	width : calc(100% - 30px);
	max-width : 500px;
	margin : 15px;
	margin-top : 48px;
}

.circle-wrapper {
	height : calc(100% - 15px - 75px);
	background-color : #fff;
	margin-bottom : 15px;
	border-radius : 8px;
	margin : 0 auto 15px;
}

.controls-wrapper {
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-between;
	align-items : flex-end;
	z-index : 5;
	margin : 0 auto;
}

.control-btn {
	height : 75px; 
	width : calc((100% - 30px) / 3);
	font-size : 40px;
	border-radius : 8px;
	color : #F5BE41;
	border: none;
	cursor : pointer;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	transition : all 200ms ease-in-out;
	background-color: #fff;
}

.control-btn:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	background-color: #F5BE41;
	color : #fff;
}

@media (min-height: 455px) and (min-width: 320px) and (orientation : portrait) {

	.wrapper-inner {
		height : auto;
		width : calc(100% - 30px);
		max-width : 500px;
	}

	.circle-wrapper {
		height : calc(290px + (210 * (100vw - 320px) / 230));
		max-height : calc(100vh - 165px);
		width : calc(290px + (210 * (100vw - 320px) / 230));
		max-width : calc(100vh - 165px);
		background-color : transparent;
	}

	.circle {
		border-radius : 50%;
		height : 100%;
		width : 100%;
		background-color : #fff;
	}

	.controls-wrapper {
		width : calc(290px + (210 * (100vw - 320px) / 230));
	}

	.control-btn {
		height : 87px;
	}

}

@media (min-height : 455px) and (min-width : 320px) and (orientation : landscape) {

	.wrapper-inner {
		height : auto;
		width : calc(100% - 30px);
		max-width : 500px;
	}

	.circle-wrapper {
		height : calc(290px + (210 * (100vh - 320px) / 360));
		max-height : calc(100vh - 165px);
		width : calc(290px + (210 * (100vh - 320px) / 360));
		max-width : calc(100vh - 165px);
		background-color : transparent;
	}

	.controls-wrapper {
		width : calc(290px + (210 * (100vh - 320px) / 360));
	}

	.circle {
		border-radius : 50%;
		height : 100%;
		width : 100%;
		background-color : #fff;
	}

}

@media (min-height : 680px) and (min-width : 530px) {

	.title-div {
		position : absolute;
		top : 15px;
		left : 0;
		padding-top : 8px;
		height : 35px;
		line-height : 40px;
	}

	h1 {
		font-size : 40px;
	}

	.wrapper-inner {
		height : auto;
		max-height : none;
		width : 500px;
		margin-top : 73px;
	}

	.circle-wrapper {
		height : 500px;
		width : 500px;
		background-color : transparent;
	}

	.circle {
		border-radius : 50%;
		height : 100%;
		width : 100%;
		background-color : #fff;
	}

	.controls-wrapper {
		width : 500px;
	}

}