/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

html, body {
	height : 100%;
	background : steelblue;
}

.anti-collapse-wrapper {
	display : inline-block;
 	height : 100%;
 	width : 100%;
}

.wrapper-outer {
	height : 100%;
	width : 100%;
	display : flex;
	flex-flow: column nowrap;
	align-items : center;
	justify-content: center;
}

@media (max-height : 480px) {

	.wrapper {
		display: flex;
		flex-flow : column nowrap;
		justify-content : center;
		height : 95%;
		width : calc(100% - 8vh);
		background-color : steelblue;
		margin : 4vh auto;
	}

	.circle-wrapper {
		height : 88%;
		background-color : white;
		margin-bottom : 4vh;
	}

	.controls-wrapper {
		background-color : steelblue;
		display : flex;
		flex-flow : row nowrap;
		justify-content : space-between;
		align-items : flex-end;
	}

	.control-btn {
		height : 86.6px;
		width : 30%;
	}
}

@media (max-width : 480px) {

	.wrapper {
		display: flex;
		flex-flow : column nowrap;
		justify-content : center;
		height : 95%;
		width : calc(100% - 8vh);
		background-color : steelblue;
		margin : 4vh auto;
	}

	.circle-wrapper {
		height : 88%;
		background-color : white;
		margin-bottom : 4vh;
	}

	.controls-wrapper {
		background-color : steelblue;
		display : flex;
		flex-flow : row nowrap;
		justify-content : space-between;
		align-items : flex-end;
	}

	.control-btn {
		height : 86.6px;
		width : 30%;

	}

}

@media (min-width: 320px) and (min-height: 480px) {

	.wrapper {
		background : steelblue;
		height : calc(391.6px + (243.4 * (100vh - 480px) / 170));
		min-width : calc(290px + (210 * (100vh - 480px) / 170));;
		width : calc(290px + (210 * (100vh - 480px) / 170));
		margin : auto;
	}

	.circle-wrapper {
		background : steelblue;
		height : calc(290px + (210 * (100vh - 480px) / 170));
		margin-bottom : 15px;
	}

	.circle {
		background : white;
		border-radius : 50%;
		height : 100%;
		width : 100%;
	}

	.controls-wrapper {
		display : flex;
		flex-flow : row nowrap;
		justify-content: space-between;
		background : steelblue;
		height : 86.6px;
	}

	.control-btn {
		background : white;
		width : 86.6px;
	}
}

@media (min-height : 650px) {

	.wrapper {
		height : 635px;
		width : 500px;
		min-width : 500px;
		margin : auto ;
	}

	.circle-wrapper {
		height : 500px;
	}

	.controls-wrapper {
		height : 120px;
	}

	.control-btn {
		width : 120px;
	}

}

@media (min-width : 320px) and (min-height : 480px) and (orientation : portrait) {

	.wrapper {
		background : steelblue;
		height : calc(391.6px + (210.2 * (100vh - 480px) / 170));
		min-width : 290px;
		width : calc(290px + (225.5 * (100vh - 480px) / 170));
		max-width : 90vw;
		margin : auto;
	}

	.circle-wrapper {
		background : steelblue;
		height : calc(290px + (225.5 * (100vh - 480px) / 170));
		max-height : 90vw;
		margin-bottom : 15px;
	}

	.circle {
		background : white;
		border-radius : 50%;
		height : 100%;
		width : 100%;
	}

	.controls-wrapper {
		display : flex;
		flex-flow : row nowrap;
		justify-content: space-between;
		background : steelblue;
		height : 86.6px;
	}

	.control-btn {
		background : white;
		width : 86.6px;
	}

}

@media (min-width : 600px) and (min-height : 650px) {

	.wrapper {
		height : 635px;
		width : 500px;
	}

	.circle-wrapper {
		height : 500px;
	}

}